<% if @receipt && @receipt.errors.any? %>
  <ul>
    <% @receipt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div id="receipt-form-toggle" class="dev-test receipt-form col-md-6">
    <%= simple_form_for [@report, @receipt] do |f| %>
      <%= f.label :image, "Select an image to upload" %><br>
      <div class="carrier-wave-field">
      <%= f.file_field :image %><br>
      </div>
      <%= f.label :tax_type %><br>
      <%= f.select :tax_type, [['GST', 'GST'], ['PST', 'PST'], ['GST & PST', 'GST & PST'], ['None', 'None']], { prompt: "Select a Tax Type" }, {autofocus: 'true', class: 'form-control'} %><br>
      <%= f.label :category %><br>
      <%= f.select :category, [['Auto'], ['Entertainment'], ['Office'], ['Travel']], prompt: "Select or Type a Category", id: "category" %><br>
      <%= f.label :comment %><br>
      <%= f.text_field :comment, placeholder: "Comment...", class: "form-control" %><br>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<script>
  // Add new receipt form toggle. in the report/show view 
  $(document).ready(function() {
    var toggled = false;

    var buttonText = {
      true: "Add New Receipt",
      false: "Hide Form"
    };

    $("#receipt-form-toggle").hide();
    $("#new-receipt").on('click', function(){
      toggled = !toggled;

      var text = buttonText[!toggled];

      $("#receipt-form-toggle").slideToggle(toggled);
      $("#new-receipt").html(text)
        .toggleClass("btn-primary", !toggled)
        .toggleClass("btn-dark", toggled);
    });
  }); //end of document ready

  $(function() {
    $('#receipt_category').selectize({
      create: true,
      sortField: 'text'
    });
  });
</script>