<% if @receipt && @receipt.errors.any? %>
  <ul>
    <% @receipt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row dev-test">
  <div id="receipt-form-toggle" class="receipt-form">
    <%= simple_form_for [@report, @receipt] do |f| %>
      <div class="carrier-wave-field col-md-4">
        <%= f.label :image, "Select an image to upload" %>    
        <%= f.file_field :image %>
      </div>
      <div class="col-md-4">
        <%= f.label :tax_type %>
        <%= f.select :tax_type, [['GST', 'GST'], ['PST', 'PST'], ['GST & PST', 'GST & PST'], ['None', 'None']], { prompt: "Select a Tax Type" }, {autofocus: 'true', class: 'form-control'} %>
      </div>
      <div class="col-md-4">
        <%= f.label :category %>
        <%= f.select :category, [['Auto'], ['Entertainment'], ['Office'], ['Travel']], prompt: "Select or Type a Category", id: "category" %>
      </div>
      <div class="col-md-8">
        <%= f.label :comment %><br>
        <%= f.text_field :comment, placeholder: "Comment...", class: "form-control" %><br>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  // Add new receipt form toggle. in the report/show view 
  $(document).ready(function() {
    var toggled = false;

    var buttonText = {
      true: "Add New Receipt",
      false: "Hide Form"
    };

    $("#receipt-form-toggle").hide();
    $("#new-receipt").on('click', function(){
      toggled = !toggled;

      var text = buttonText[!toggled];

      $("#receipt-form-toggle").slideToggle(toggled);
      $("#new-receipt").html(text)
        .toggleClass("btn-primary", !toggled)
        .toggleClass("btn-dark", toggled);
    });
  }); //end of document ready
</script>