<table border="1">
  <tr>
    <td><h3>Business Name</h3></td>
    <td><h3>Sub Total</h3></td>
    <td><h3>Tax Total</h3></td>
    <td><h3>Tax Type</h3></td>
    <td><h3>Total</h3></td>
    <td><h3>Date</h3></td>
    <td><h3>Category</h3></td>
    <td><h3>Comments</h3></td>
  </tr>
  <% @report.receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.business_name %></td>
    <td><%= receipt.sub_total %></td>
    <td><%= receipt.tax_total %></td>
    <td><%= receipt.tax_type %></td>
    <td><%= receipt.total %></td>
    <td><%= receipt.created_at %></td>
    <td><%= receipt.category %></td>
    <td><%= receipt.comment %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><h3><%= number_to_currency(@report.receipts.sum(:sub_total)) %></h3></td>
    <td><h3><%= number_to_currency(@report.receipts.sum(:tax_total)) %></h3></td>
    <td></td>
    <td><h3><%= number_to_currency(@report.receipts.sum(:total)) %></h3></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>