<h1>Receipts#index</h1>
<p>Find me in app/views/receipts/index.html.erb</p>

<%#= link_to "NEW", new_receipt_path %>

<% if @receipts.count > 0 %>
  <% @receipts.each do |receipt| %>
    <p>Receipt Title: <%= link_to receipt.business_name, edit_report_receipt_path(@report, receipt) %></p>
    <p><%#= receipt.id %></p>
    <p><%#= receipt.report_id %></p>
    <p><%= receipt.tax_type %>: <%= number_to_currency(receipt.tax_total) %></p>
    <p>Receipt Total: <%= number_to_currency(receipt.total) %></p>
    <!-- <p><%#= receipt.image.file.file.split("/").last %></p> -->
    <p><%= receipt.image.file.original_filename %></p>
    <p><%= link_to "Download", receipt.image_url %></p>
    <p><%= link_to "delete", report_receipt_path(@report, receipt), method: :delete %></p>
  <% end %>
<% end %>