<h1>Receipts#new</h1>
<p>Find me in app/views/receipts/new.html.erb</p>

<%= form_for [@report, @receipt] do |f| %>
  <%= f.label :business_name %><br>
  <%= f.text_field :business_name %><br><br>
  <%= f.file_field :image %><br><br>
  <%= f.select :tax_type, [['None', 'None'], ['GST', 'GST'], ['PST', 'PST'], ['GST & PST', 'GST & PST']] %><br><br>
  <%= f.submit %>
<% end %>