<div id="edit_report_<%= report.id %>" class="dev-test">
  <%= form_for report do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :description %><br>
    <%= f.text_field :description %><br><br>
    <%= f.submit %>
  <% end %>
</div>

<script>
  reportEditor.initialize(<%= report.id %>)
</script>