<!-- This is what is inside the loop -->
<div id="snap_<%= dom_id(report) %>">
  <div class="well">
    <%= link_to report.title, report_path(report) %>
    <%= report.description %>
    <%#= link_to "edit", edit_report_path(report) %>
    <%= link_to "Edit", "javascript:void(0)", id: "report_#{report.id}", class: "btn btn-primary" %>
    <%= link_to "Delete", report_path(report), method: :delete, remote: true %>
    <div>
      <%= render "reports/edit", report: report %>
    </div>
  </div>
</div>