<!-- This is what is inside the loop -->
<div id="snap_<%= dom_id(report) %>">
  <div class="well">
    <h4><%= link_to report.title, report_path(report) %></h4>
    <p><%= report.description %></p>
    <%= link_to "Edit", "javascript:void(0)", id: "report_#{report.id}", class: "btn btn-primary btn-sm" %>
    <%= link_to "Delete", report_path(report), method: :delete, data: { confirm: "Are you sure you want to delete this report?" }, remote: true, class: "btn btn-danger btn-sm" %>
    <br><br>
    <div>
      <%= render "reports/edit", report: report %>
    </div>
  </div>
</div>