<div class="container dev-test">
  <h1>Reports#index</h1>
  <p>Find me in app/views/reports/index.html.erb</p>
  <p>THIS VIEW SHOWS ALL THE REPORTS/BUDGETS</p>
  <%= link_to "NEW", new_report_path %>

  <hr>

  <% @reports.each do |report| %>
    <div class="well">
    <%= link_to report.title, report_path(report) %>
    <%= report.description %>
    <%= link_to "edit", edit_report_path(report) %>
    <%= link_to "Delete", report_path(report), method: :delete %>
    </div>
  <% end %>
</div>