<div class="container dev-test">
  <h1>Reports#show</h1>
  <p>Find me in app/views/reports/show.html.erb</p>

  <div>
    <div>
      <h3><%= @report.title %>: <%= @report.description %></h3>
      <h4>Total Spent During this Period: <%= number_to_currency(@report.receipts.sum(:total)) %></h4>
      <h4>Number of Transactions: <%= @report.receipts.count %></h4>
    </div>
    <br>
    <%= link_to "Add New Receipt", "javascript:void(0)", id: "new-receipt", class: "btn btn-primary" %>
    <br>
    <%= render partial: "receipts/new", :locals => { :receipt => @receipt } %>
  </div>

  <div class="receipt-loop-container">
  <% @report.receipts.each do |receipt| %>
    <div id="<%= dom_id(receipt) %>" class="receipt-box dev-test">
    <%= link_to image_tag(receipt.image_url(:thumb)), "#", data: { toggle: "modal", target: "#myModal_#{receipt.id}"}, class: 'disabled-link' %>
    </div>

    <div class="modal fade" id="myModal_<%= receipt.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close btn btn-light btn-xs pull-right toggle" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="fa fa-times fa"></i></a>
            <h4 class="modal-title" id="myModalLabel">Receipt from <%= receipt.business_name %> on <%= standard_date(receipt.created_at) %></h4>
          </div>
          <div class="modal-body container-fluid dev-test">
            <center>
              <div class="modal-columns">
                <%= image_tag(receipt.image_url(:fitted)) if receipt.image? %></p> 
              </div>
              <div class="modal-columns">
                <p><%#= render "receipts/edit", receipt: receipt %></p>
                <p><%= render partial: "receipts/edit", :locals => { :receipt => receipt } %></p>
              </div>
            </center>
          </div> <!-- modal-dialog -->
        </div> <!-- modal-content -->
      </div> <!-- modal-dialog -->
    </div> <!-- modal and id="myModal_<%= receipt.id %>"-->
  <% end %> <!-- do loop -->
  </div> <!-- receipt-loop-container -->
</div> <!-- container -->
<div id="map" style='height: 400px; width: 600px;' class="dev-test"></div>

<script>
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw generate_markers(@locations) %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });
</script>