<div class="container-fluid report-header">
  <div class="container">
    <div class="header-container col-md-12">
      <div class="header-icon col-md-3"><i class="fa fa-file-text-o fw fa-5x"></i></div>
      <div class="col-md-8">
        <h1><%= @report.title %>: <%= @report.description %></h1>
        <h4>Add and Review Your Receipts</h4>
      </div>
    </div> 
  </div>
</div>
<div class="container-fluid report-header">
  <div class="container">
    <div class="col-md-12">
      <div id="receipt-summary-container" class="col-md-5">
        <%= render partial: "receipts/summary" %>
      </div>

      <div id="map-container" class="col-md-7">
        <!-- <div id="map" style='height: 400px; width: 100%;' class="col-md-7"></div> -->
        <%= render partial: "reports/map" %>
      </div>
    </div>
    <div class="col-md-12">
      <%= link_to "Add New Receipt", "javascript:void(0)", id: "new-receipt", class: "btn btn-primary" %><br><br>
      <%= render partial: "receipts/new", :locals => { :receipt => @receipt } %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container"><br><br>
    <div class="receipt-loop-container col-md-12">
    <% @report.receipts.each do |receipt| %>
      <div id="<%= dom_id(receipt) %>" class="receipt-box">
        <div class="absolute-center">
        <h5><%= receipt.business_name %></h5>
          <%= link_to image_tag(receipt.image_url(:thumb)), "#", data: { toggle: "modal", target: "#myModal_#{receipt.id}"}, class: 'disabled-link' %>
        </div>
      </div>

      <div class="modal fade" id="myModal_<%= receipt.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-box">
          <div class="modal-content">
            <div class="modal-header">
              <a class="close btn btn-light btn-xs pull-right toggle" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="fa fa-times fa"></i></a>
              <h4 class="modal-title" id="myModalLabel">Receipt from <%= receipt.business_name %> on <%= standard_date(receipt.created_at) %></h4>
            </div>
            <div class="modal-body container-fluid">
              <center>
                <div class="modal-columns text-center receipt-column">
                  <%= image_tag(receipt.image_url(:fitted)) if receipt.image? %></p> 
                </div>
                <div class="modal-columns">
                  <p><%#= render "receipts/edit", receipt: receipt %></p>
                  <p><%= render partial: "receipts/edit", :locals => { :receipt => receipt } %></p>
                </div>
              </center>
            </div> <!-- modal-dialog -->
          </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
      </div> <!-- modal and id="myModal_<%= receipt.id %>"-->
    <% end %> <!-- do loop -->
    </div> <!-- receipt-loop-container -->
  </div> <!-- container -->
</div> <!-- container-fluid -->
<br><br>
<script>
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw generate_markers(@locations) %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });
</script>