<!DOCTYPE html>
<html>
<head>
  <title>SnapReceipts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-xs pull-right toggle"><i class="fa fa-times fa-2x"></i></a>
        <li class="sidebar-brand">
          <%= link_to image_tag('logo.png'), root_path %>
        </li>
        <li>
          <%= link_to "NEW REPORT!", new_report_path %>
        </li>
        <li>
          <%#= link_to "NEW RECEIPT", report_receipts_path  %>
        </li>
        <li>
          <%= link_to "something", "#" %>
        </li>
        <li>
          <%= link_to "something", "#" %>
        </li>
      </ul>
    </nav>


      <%= yield %>


    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
  </body>
</html>
